#information {

	text-align: center;
}

#bandName {

	text-align: center;
	font-family: 'Bungee', cursive;
}


#head{
	
	font-family: "Bungee", cursive;
}


#image{
	
	text-align: center;
}

li{

	font-style: italic;
}


@font-face {
	font-family: "Bungee";
	font-style: normal;
	font-weight: normal;
	src: url("https://fonts.googleapis.com/css?family=Bungee");
}

a{

	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	background-color: purple;
}

.table {

	text-align: center;
}

th {
	text-align: center;
}

caption {
	text-align: center;
}