header h1 {

	text-align: center;	
	font-family: "Bob'sBurgers";
	font-size: 400%;
}

footer p {

	text-align: center;
}

@font-face {
  font-family: "Bob'sBurgers";
  src: url("Bob'sBurgers.ttf");
}

.homeBody {

	background-color: rgb(145, 196, 123);
	
}

a {
	font-size: larger;
	text-decoration: underline;
	font-weight: none;
	color: blue;
}

a:visited {
	color: purple;
}

a:hover {
	font-weight: bold;
}

a:active {
	text-decoration: none;
}