#information {

	text-align: center;
}

#bandName {

	text-align: center;
	font-family: 'Bungee', cursive;
}


#head{
	
	font-family: "Bungee", cursive;
}


#image{
	
	height: 300px;
	background: url("https://upload.wikimedia.org/wikipedia/en/4/4b/FeliceCelebrationFlorida.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

li{

	font-style: italic;
}


@font-face {
	font-family: "Bungee";
	font-style: normal;
	font-weight: normal;
	src: url("https://fonts.googleapis.com/css?family=Bungee");
}

a{

	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	background-color: purple;
}

td{

	font-style: italic;
	text-align: center;
	background-color: rgb(219, 209, 105);
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

table {
	width: 100%;
	margin-right: 0%;
	margin-left: 0%;
}