#start {

	text-align: center;
	padding: 15px;
}

button {
	margin: 15px;
}

table {
	text-align: center;
	padding: 15px;
	border-collapse: collapse;
	
}	

table, th, td {

	border: 1px solid black;

}

th {

	background-color: grey;
}