#information {

	text-align: center;
}

#bandName {

	text-align: center;
	font-family: 'Bungee', cursive;
}


#head{
	
	font-family: "Bungee", cursive;
}


#image{
	
	height: 300px;
	background: url("https://upload.wikimedia.org/wikipedia/en/4/4b/FeliceCelebrationFlorida.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

li{

	font-style: italic;
}




tr{

	text-align: center;
}